.produto-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.223);
    border-radius: 15px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.produto-card h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.produto-card .produto-preco {
    font-size: 1.5rem;
    color: #ff4800;
    margin-bottom: 10px;
}

.produto-card p {
    font-size: 1.2rem;
    color: #9b9b9b;
    margin-bottom: 15px;
    padding: 0 10px;
}

.produto-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.produto-img {
    width: 100%;
    height: 32vh;
    border-radius: 10px;
    margin-block: 15px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.191);
}